.main {
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

.cat-collection ul li{
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.selected {
  color: red;
}
